* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background: linear-gradient(135deg, #1d8cf8, #00bcd4); /* Niebiesko-cyjanowy gradient */
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

header {
    text-align: center;
    padding: 4rem 2rem;
    color: white;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

header p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.cta-button {
    background-color: #f8b400;
    color: white;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cta-button:hover {
    background-color: #e69500;
    transform: scale(1.05);
}

section {
    padding: 3rem 2rem;
    width: 90%;
    max-width: 800px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Przezroczyste tło dla sekcji */
    border-radius: 10px;
}

section h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

footer {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
